<div >
    <div class="triangle">
        <mat-icon class="icon-menu" [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="navigateMenu('logout')">
                <mat-icon>login</mat-icon>
                <span>התנתקות</span>
            </button>
            <button mat-menu-item (click)="navigateMenu('add')" >
                <mat-icon>add</mat-icon>
                <span>הוספת אלבום</span>
            </button>
        </mat-menu>    
    </div>
</div>
<div>
    <button type="button" mat-icon-button aria-label="" (click)="savetest()" >
        <mat-icon>savetest</mat-icon>
    </button>
</div>