.container {
    /* width: 600px; */
    margin: 50px auto;
    padding: 40px;
    direction: rtl;
    padding-top: 0px;/* TODO */
    text-align: right;
}

.container h2 {
    text-align: right;
    border-bottom: 4px solid #99ccff;
}

.container .row{
  display: flex;
  padding: 0 15px;
  
}
.header-row{
    /* border:1px solid red; */
    direction: ltr;
    float: left;
    font-size: 12px;
}
.tbl-container {
    background: #99ccff; 
    padding: 20px;
}
.login-caption
{
    width:100px;
    margin: 0 auto;
}
.login-row
{
    padding: 13px;
}
.login-input{
    height: 40px;
    width: 300px;
    margin-left: 260px;
}
.login-error {
    width: 100%;
    margin-top: .25rem;
    font-size: 16px;
    font-weight: bold;
    color: #dc3545;
}