<div class="container">
    <h2> שלום, {{username}} <span class="header-row">{{lastDate}} | {{lastTime}}&nbsp;:{{translations.LastVisit}}</span></h2>
    <div *ngIf="user?.abonements">
        <div class="row">רשימת מנויים</div>
        <div class="tbl-container"> 
            <!-- <div class="row">Bootstrap</div> -->
            <table class="table table-striped table-hover bs-table">
                <thead>
                    <tr >
                      <th scope="col">{{translations.ColAbonementName}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let abonement of user.abonements">
                        <tr (click)="expandedElement = expandedElement === abonement ? null : abonement;onExpanded(abonement.id)">
                            <td>{{ abonement.name}}</td>
                        </tr>
                        <tr >
                            <td  class='details' >
                             <div class="example-element-detail"
                                       [@detailExpand]="abonement == expandedElement ? 'expanded' : 'collapsed'">
                                       <app-packages-customer [packages]="abonement.packages"></app-packages-customer>
                              </div>
                            </td>
                          </tr>
                    </ng-container>
                  </tbody>
            </table>
            <!-- <div class="row">Angular material</div> -->
        </div>
    </div>
</div>
